<section class="container introduction-area" id="introduction">
    <app-bubble></app-bubble>
    <h2>Let's work together</h2>
    <div class="introduction-container">
        <p>
            I'm a passionate frontend web developer from Lower Saxony, Germany. I enjoy using various technologies to build amazing products and
            focusing on solving problems for different industries and nieches.
            <br><br>
            I would love to hear from you. Whether it is a project, job opportunity, or just a chat.
        </p>
        <app-button
            [btnText]="'Send a message'"
            [href]="'#contact'"
        ></app-button>
    </div>
</section>