@import '/src/variables.scss';


form {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.input-container {
    position: relative;
    display: flex;

    input,
    textarea {
        flex: 1;
        width: 100%;
        border: 1px solid $col-primary;
        border-radius: 10px;
        padding: 15px 22px;

        &:hover,
        &:focus {
            border: 1px solid $col-primary;
            outline: 1px solid $col-primary;
        }

        &:-internal-autofill-selected {
            appearance: none;
            background: transparent;
        }
    }

    input::placeholder,
    textarea::placeholder {
        opacity: 0;
        transition: opacity 0.24s ease-in-out;
    }

    input:focus::placeholder,
    textarea:focus::placeholder {
        opacity: 1;
    }

    textarea {
        resize: none;
    }

    label {
        position: absolute;
        top: 10px;
        left: 25px;
        padding: 5px;
        background: linear-gradient(transparent 25%, white 45%, white 65%, transparent 99%);
        transition: all 0.24s ease-in-out;
        pointer-events: none;
    }

    input:focus+label,
    textarea:focus+label,
    input:not(:placeholder-shown)+label,
    textarea:not(:placeholder-shown)+label {
        top: -15px;
    }

    p {
        position: absolute;
        left: 25px;
        bottom: -18px;
        display: none;
        font-size: $fs-12;
        color: $col-error;
    }
}

button {
    margin: auto;
}


.btn-primary {
    display: inline-block;
    width: max-content;
    padding: 15px 30px;
    color: $col-primary;
    font-size: $fs-24;
    text-decoration: none;
    border: 2px solid $col-primary;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    background: white linear-gradient(300deg, transparent 49%, $col-primary 51%);
    background-position: 100% 100%;
    background-size: 400% 400%;
    transition: all 0.24s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    &:hover:enabled,
    &:focus:enabled {
        transform: scale(1.1);
        color: white;
        outline: 2px solid $col-primary;
        background-color: $col-primary;
        animation: move 0.24s forwards;
    }

    &:active:enabled {
        background: $col-primary-dark;
    }

    &:disabled {
        color: gray;
        border: 2px solid gray;
        background-color: whitesmoke;
        cursor: default;
    }
}


// Animations
@keyframes move {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}


// Media
@media screen and (max-width: $m-mobile-md) {
    .btn-primary {
        padding: 12px 24px
    }
}