<form (submit)="sendMail()" method="post"  autocomplete="off">
    <!-- Name -->
    <div class="input-container">
        <input type="text"
            name="name" id="name" #name
            placeholder="Please enter your name."
            minlength="4" required>
        <label for="name">Your name</label>
        <p id="name-error">Your name is required.</p>
    </div>

    <!-- Email -->
    <div class="input-container">
        <input type="email"
            name="email" id="email" #email
            placeholder="Please enter your email."
            pattern="^[\w\.-]+@([\w-]+\.)+[\w-]{2,4}$"
            required>
        <label for="email">Your email</label>
        <p id="email-error">Your valid email is required.</p>
    </div>

    <!-- Message -->
    <div class="input-container">
        <textarea cols="30" rows="10"
            name="message" id="message" #message
            placeholder="Please enter your message." title=""
            required></textarea>
        <label for="message">Your message</label>
        <p id="message-error">Your message is required.</p>
    </div>

    <!-- Submit -->
    <button type="submit" class="btn-primary"
    [disabled]="!(isInputValid['name'] && isInputValid['email'] && isInputValid['message'])">
    Get in touch</button>

    <!-- Bubble -->
    <img src="/assets/icons/mail_blue.svg" class="mail-bubble" id="bubble" #bubble>
</form>