<div class="social-media-container">
    <a href="https://github.com/Reaper922" target="_blank">
        <img src="/assets/icons/github_white.svg" alt="GitHub-Icon" title="GitHub Profile" draggable="false">
    </a>
    <a href="mailto:dennisammen@gmx.net">
        <img src="/assets/icons/mail_white.svg" alt="Mail-Icon" title="Send E-Mail" draggable="false">
    </a>
    <a href="https://www.linkedin.com/in/dennis-ammen-6574a723b/" target="_blank">
        <img src="/assets/icons/linked-in_white.svg" alt="LinkedIn-Icon" title="LinkedIn Profile" draggable="false">
    </a>
</div>