<div class="project-container" [class.odd]="isSecondElement">
    <div class="image-container">
        <img [src]="project.prevImageUrl" alt="Project Preview Image" draggable="false">
        <app-button btnText="Live test" [href]="project.projectUrl" [target]="'_blank'" [style]="'secondary'"></app-button>
    </div>
    <div>
        <div class="description-container">
            <h4>{{ project.title }}</h4>
            <p class="project-stack">{{ project.stack }}</p>
            <p>{{ project.description }}</p>
        </div>
        <div class="button-container">
            <app-button btnText="Live test" [href]="project.projectUrl" [target]="'_blank'" [style]="'secondary'"></app-button>
            <app-button btnText="GitHub" [href]="project.github" [target]="'_blank'"></app-button>
        </div>
    </div>
</div>