@import '/src/variables.scss';


.skillset-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    padding-top: $area-spacing-md;
    padding-bottom: $area-spacing-md;
    background: linear-gradient(128.94deg, $col-primary -33.96%, $col-primary 36.71%, $col-primary-dark 112.25%);

    h3 {
        color: white;
        text-align: center;
    }
}


// Media
@media screen and (max-width: $m-mobile-md) {
    .skillset-area {
        gap: 32px;
        padding-top: $area-spacing-sm;
        padding-bottom: $area-spacing-sm;
    }
}