<section class="container projects-area" id="projects">
    <app-bubble></app-bubble>
    <app-bubble></app-bubble>
    <app-bubble></app-bubble>
    <app-bubble></app-bubble>
    <app-bubble></app-bubble>
    <h3>My Work</h3>
    <p>Below you can get an impression of my work. You are welcome to try and inspect the projects.</p>
    <div class="projects-container">
        <app-project
            *ngFor="let project of projects; let i = index;"
            [project]="project"
            [isSecondElement]="(i % 2)"
        ></app-project>
    </div>
</section>
