<header class="container" id="hero">
    <div class="navigation">
        <app-logo></app-logo>
        <app-navbar></app-navbar>
        <app-navmenu></app-navmenu>
    </div>
    <div class="hero-container">
        <div>
            <img src="/assets/img/hero.png" alt="Hero Image" draggable="false">
        </div>
        <div>
            <img src="/assets/img/hero.png" alt="Hero Image" draggable="false">
        </div>
        <!-- <div class="greeting">
            <p>Hello! I am Dennis</p>
            <h1>FRONTEND</h1>
            <h2>DEVELOPER</h2>
            <p>SCROLL</p>
            <div class="line"></div>
        </div> -->
    </div>
</header>