@import '/src/variables.scss';


@font-face {
    font-family: 'Baloo2';
    src: url('/assets/fonts/baloo2/Baloo2-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}


* {
    font-family: 'Montserrat';
}

body {
    margin: 0;
}

.container {
    padding: 0 100px;
}


@media screen and (max-width: $m-mobile) {
    .container {
        padding: 0 24px;
    }
}