// Color
$col-primary: #5988FF;
$col-primary-light: #EAF0FF;
$col-primary-dark: #0043F0;
$col-valid: #70E61C;
$col-error: #E61C40;

// Font-Sizes
$fs-64: 64px;
$fs-24: 24px;
$fs-18: 18px;
$fs-12: 12px;
$fs-h1: 128px;
$fs-h2: 120px;
$fs-h3: 96px;
$fs-h4: 48px;
$fs-h5: 32px;
$fs-h6: 24px;
$fs-body: 16px;

// Area
$area-spacing-md: 100px;
$area-spacing-sm: 48px;

// Media Sizes
$m-mobile-lg: 1120px;
$m-mobile-md: 800px;
$m-mobile-sm: 374px;